
<h1>Enyelbert</h1>
 	
<p><%= link_to 'pagina_landing', pages_landing_path,  :class => 'btn' %> </p>

<%= form_tag(action: "new_user") do %>
	<div>
		<%= label_tag :nombre, "Nombre" %>
		<%=  text_field_tag :nombre%>
	</div>
	<div>
		<%= label_tag :email, "email" %>
		<%=  text_field_tag :email%>
	</div>

	<div>
		<%= label_tag :edad, "Edad" %>
		<%=  text_field_tag :edad%>
	</div>

	<div>
		<%= submit_tag "Enviar" %>
	</div>
<% end %>

	<%= image_tag '1.jpg' %>

<!-- f<%= form_tag(pages_x_path, method: :get) do %>
	<div>
		<%= label_tag :query, "Buscar" %>
		<%= text_field_tag :query %>
		<%= submit_tag "Buscar Usario" %>
	</div>
f<% end %> -->


<!-- <ul>
	<% @users.each do |user| %>
		<li><%= user.nombre %></li>
	<% end  %>
</ul> -->